<h1>Lista de series</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">Serie</th>
      <th scope="col">Sinopsis</th>
      <th scope="col">Director</th>
    </tr>
  </thead>
  <tbody>
  <% @series.each do |serie| %>
    <tr>
      <th scope="row"><%= serie.name %></th>
      <td><%= serie.synopsis %></td>
      <td><%= serie.director %></td>
    </tr>
  <%end%>  
  </tbody>
</table>

<br>

  <%= link_to 'Crear una nueva serie', new_series_path, class: 'btn btn-secondary' %>
  <%= link_to 'Volver al inicio', root_path, class: 'btn btn-info' %>
